***********************************************************************************
*                                                                                 *
* DRILL TAPE SUMMARY REPORT                                                       *
*                                                                                 *
* Z:\ORCAD\LAYOUT\#TEST\BATTERY_CONTROLLER_V01\CIN\LAYOUT\BATT_MANAGER-V01-9.MAX  *
* Wed Mar 27 18:17:32 2024                                                        *
*                                                                                 *
***********************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      141      200      100                                                                                 
T2       315      2        200      100                                                                                 
T3       394      9        200      100                                                                                 
T4       433      4        200      100                                                                                 
T5       472      6        200      100                                                                                 
T6       728      16       200      100                                                                                 
T7       1299     4        200      100                                                                                 
T8       1378     4        200      100                                                                                 
